{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{reset_after_eunit, true}.

{deps, [
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},

        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
       ]}.
